<div class="container- fluid mb-5">
    <footer class= " footer mt-5 bg-dark text-center text-light"> 
        <i class="far fa-copyright"></i></a> {% trans %}All rights reserved{% endtrans %} 2016-{{ "now"|date('Y') }} - {% trans %}Hayam Transport Ltd{% endtrans %}
    </footer>
</div>