<li class="nav-item dropdown">
    <a href="#"  title="{% trans %}Language{% endtrans %}" class="nav-link dropdown-toggle" data-toggle="dropdown" id="langueDropdownLink"><i class="fas fa-globe"></i></a>    
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="langueDropdownLink" >
        {% for locale in locales %}
            {% if locale != app.request.locale %} 
                <a href="{{ path('traduire', {'locale': locale }) }}"  class="dropdown-item"><img class = "flag" src="{{ asset ('img/lang/'~locale~'.png') }}"  alt="{{ locale }}"> {{ locale }}</a>
            {% endif %}
        {% endfor %}
    </div>
</li>