{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">     
        {{ form_start(form) }}
        {{ form_widget(form) }}      
        <button type="submit" class="btn btn-outline-dark" onclick="return confirm( `{% trans %}Are you sure you want to add a new comment{% endtrans %} ?\n{% trans %}This action is irreversible{% endtrans %} !`)">{% trans %}Validate{% endtrans %}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
